body {
  background-color: darkslategray;
}

#heading {
  color: black;
}

#editButton {
  left: 150px;
}

.easy {
  background-color: green;
}

.medium {
  background-color: cyan;
}

.hard {
  background-color: red;
}

.hidden {
  display: none;
}

.buttons {
  margin: 5px;
  padding: 5px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: darkcyan;
  border: darkviolet;
  border-style: solid;
  border-width: 5px;
  display: inline-block;
}

.backgroundProperties {
  margin: 5px;
}

#information {
  font-size: 30px;
}

.musicButton {
  margin: 15px;
  padding: 15px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-color: rgb(248, 248, 248);
  border: rgb(0, 0, 0);
  border-style: groove;
  border-width: 5px;
  display: inline-block;
}

#drumboxText {
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
}
